:root{
    --vermelho:#e50914;
    --preto:#141414;
}
/* elementos base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{       
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 100px;
    height: 40px;
    margin-left: 15px;
    margin-top: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black',Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* filme principal */

.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('/Git/DIO/dio-desafio-github/Projeto-Netfilx/img/capa-the-witcher.jpg');
    
    height: 574px;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5px;
}

.filme-principal .sinopse{
    margin-bottom: 40px;
    margin-top: 10px;
}

.filme-principal .titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-top: 15%;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition:0.5s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}