@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&display=swap');

body{
    background: linear-gradient(236.85deg, #3a118b 27.26%, #0350a1 70.03%);
    color: gainsboro;
}

h1 {
    text-align: center;
    
    font-size: 55px;
    font-style: italic;
    font-weight: 700;
}

#subtitle{
    font-weight: 400;
    font-style: italic;
}

#postTitle{
    font-weight: 200;
    font-style: italic;
}

.post{
    background: linear-gradient(236.85deg, #5517d1 27.26%, #1175e0 70.03%);
    padding: 10px;
    border: 5px solid black;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    margin: 10px;
}

.footer{
    background: linear-gradient(236.85deg, #5517d1 27.26%, #1175e0 70.03%);
}